<?php $this->jQueryUi = 'jQueryUi'; ?>
<?php $this->headTitle()->append($this->titulo); ?>
<h1><?php echo $this->titulo; ?></h1>

<div class="box box-filtro">	

<form method="post" filtro="filtro" name="form" enctype="application/x-www-form-urlencoded">

<table class="tabela-cadastro">

<tr>
    <td colspan="2" align="left">
    	<label for="busca">Filtro</label>
        <?php echo $this->pFormModulo->busca; ?>
    </td>
</tr>

<tr>
	<td colspan="2" align="left">
    	<label for="cdmenu">Menu</label>
		<?php echo $this->pFormModulo->cdmenu; ?>
	</td>
</tr>

<tr>
    <td align="left">
        <input type="button" class="botao-padrao" value="Incluir Novo" onclick="window.location.href='/modulos/modulos/add'">
    </td>
    <td align="right">
        <?php  echo $this->pFormModulo->Buscar; ?>
    </td>
</tr>

</table>

</form>

</div>