<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Zend Framework Default Application</title>
</head>
<body>
  <h1 style="text-align:center">Infelizmente um erro ocorreu =(</h1>

<div class="box">
	<p class="box_titulo"><?php echo $this->message; ?></p>
  <?php if (isset($this->exception)): ?>
  
  <h3>Informações:</h3>
  <p>
      <b>Mensagem:</b> <?php echo $this->exception->getMessage() ?>
  </p>

  <h3>Rastreamento:</h3>
  <pre><?php echo $this->exception->getTraceAsString() ?>
  </pre>

  <h3>Parametros da requisição:</h3>
  <pre><?php echo $this->escape(var_export($this->request->getParams(), true)) ?>
  </pre>

  <?php endif ?>

<table class="tabelacadastro" cellpadding="5" cellspacing="0" border="0">
	<tr class="linhacomando">
		<td>
			<input type="button" class="botaopadrao" value="Voltar" onclick="history.go(-1)">
		</td>
	</tr>
</table>
</div>

</body>
</html>
