<table class="tabelacadastro" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td width="30%">&nbsp;</td>
	<td colspan="2">
		<div class="yellow-alert">
			Você não possui permissão para acessar esta página
		</div>
	</td>
	<td width="30%">&nbsp;</td>
</tr>

<tr height="50px">
    <td width="30%">&nbsp;</td>
	<td align="left">
		<input type="button" class="botao-padrao" value="Página inicial" onclick="window.location.href='/default/index/index'"/>
	</td>
	<td align="right">
		<input type="button" class="botao-padrao" value="Voltar" onclick="history.go(-1)"/>
	</td>
	<td width="30%">&nbsp;</td>
</tr>

</table>
<script>
console.log(history);
</script>
