@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.mdl-layout{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.wart-layout__header {
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
    color: #747474;
    box-shadow: none;
}

.wart-layout__header .mdl-layout__header-row .mdl-navigation__link {
    color: #747474;
}

.wart-layout__content {
    width: 350px;
    height: 600px;
    position: absolute;
    background: #eee;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -175px;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 100;
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .wart-layout__content {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }
}

.logo {
    height: 75px;
    min-width: 100%;
    width: 120px;
    text-align: center;
}

.logobrainy{
    display: block;
    color: #2287c2;
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}

.logobrainy > .wart{
    font-family: 'big_johnregular', sans-serif;
}

.logobrainy > .talk{
    font-family: 'slim_joeregular', sans-serif;
    font-weight: 800;
}

.subtitle {
    color: rgba(0, 0, 0, .75);
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 12px;
    text-align: center;
    line-height: 1.2;
    display: block;
}

#formLogin .wart-textfield__input {
    border: 1px solid rgba(0, 0, 0, .20);
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    display: block;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 100;
    height: 42px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    padding: 0 16px;
    width: calc(100% - 32px);
}

.wart-button-login {
    display: block;
    font-size: 17px;
    font-weight: 400;
    height: 44px;
    margin-bottom: 24px;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.loginError {
    color: #f03d25;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 24px;
    margin-top: 24px;
}

.loginError > ul,
.loginError > ol {
    list-style: none;
    padding: 0;
}


/* Select Field
   ========================================================================== */
select {
    display: none;
}

select.browser-default {
    display: block;
}

select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}

.select-label {
    position: absolute;
}

.select-wrapper {
    position: relative;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 10px;
}

.select-wrapper span.caret.disabled {
    color: rgba(0, 0, 0, 0.26);
}

.select-wrapper + label {
    position: absolute;
    top: -14px;
    font-size: 0.8rem;
}

select:disabled {
    color: rgba(0, 0, 0, 0.3);
}

.select-wrapper input.select-dropdown:disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -ms-user-select: none;
    /* IE10+ */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.select-wrapper i {
    color: rgba(0, 0, 0, 0.3);
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.prefix ~ .select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.prefix ~ label {
    margin-left: 3rem;
}

.select-dropdown li img {
    height: 40px;
    width: 40px;
    margin: 5px 15px;
    float: right;
}

.select-dropdown li.optgroup {
    border-top: 1px solid #eee;
}

.select-dropdown li.optgroup.selected > span {
    color: rgba(0, 0, 0, 0.7);
}

.select-dropdown li.optgroup > span {
    color: rgba(0, 0, 0, 0.4);
}

.select-dropdown li.optgroup ~ li.optgroup-option {
    padding-left: 1rem;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
}

.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: #eee;
}

.dropdown-content li.active.selected {
    background-color: #e1e1e1;
}

.dropdown-content li.divider {
    min-height: 0;
    height: 1px;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.dropdown-content li > span > label {
    top: 1px;
    left: 3px;
    height: 18px;
}

.dropdown-content li > a > i {
    height: inherit;
    line-height: inherit;
}

.dropdown-content {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

ul {
    padding: 0;
    list-style-type: none;
}

.left {
    float: left !important;
}
.circle {
    border-radius: 50%;
}
/* ========================================================================== */

ul.mdl-mini-footer__link-list > li:after {
    content: "|";
    padding-left: 20px;
}

ul.mdl-mini-footer__link-list > li:last-child:after { content: " "; }

.mdl-mini-footer {
    -webkit-justify-content: center;
    justify-content: center;
}

@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .mdl-mini-footer {
        display: none;
    }
}

.newAccount {
    margin: 50px 0;
}

.wart-layout__content--register {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    contain: layout style;
}

.wart-layout__content--register > .wart-layout__content--register-center {
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 90%;
    min-height: 90vh;
    position: relative;
    z-index: 0;
}

.wart-layout__content--register > .wart-layout__content--register-center > .wart-top-space {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.wart-layout__content--register > .wart-layout__content--register-center > .wart-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.wart-layout__content--register > .wart-layout__content--register-center > .wart-bottom-space {
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-box-flex: 2;
    box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
}

.wart-layout__content--register > .wart-layout__content--register-center > .wart-content img {
    padding: 30px 60px 0 15px;
    width: 150px;
}

.wart-layout__content--register > .wart-layout__content--register-center > .wart-content section.wart-text {
    max-width: 400px;
    min-width: 288px;
    padding: 16px;
    width: -webkit-calc(100% - 2*16px);
    width: calc(100% - 2*16px);
}

.wart-layout__content--register-center h1 {
    display: block;
    font: 400 2.125rem/1.17647059 Roboto,RobotoDraft,sans-serif;
    font-weight: 300;
    margin: 16px 0 32px 0;
    line-height: 40px;
}

.wart-layout__content--register-center p {
    margin: 32px 0;
    color: rgba(0,0,0,0.87);
    font-size: 16px;
    line-height: 24px;
}

.wart-register__footer {
    position: fixed;
    z-index: -10;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform: translateX(-510px);
    transform: translateX(-510px);
    -webkit-user-select: none;
    bottom: 0;
    direction: ltr;
    left: 50%;
    position: fixed;
    right: 0;
}

.wart-register__footer > div {
    margin: 0 16px;
    vertical-align: bottom;
}

.mdl-textfield {
    display: block;
    width: 100%;
}

#btnSkip {
    margin-left: 15px;
}

#btnCreateAccount {
    margin-right: 20px;
}

.form-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}

.wart-link-esqueceusenha{
    display: block;
    margin-bottom: 8px;
    margin-left: 3px;
}