@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

.mdl-layout__content{
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.wart-left-navigation.close{
    max-width:0;
    width:0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    -o-flex: 0;
    flex: 0;
    opacity: 0;
}

.wart-left-navigation{
    height: 100%;
    max-width: 250px;
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    -o-flex: 0 0 25%;
    flex: 0 0 25%;
    opacity: 1;
    background: #3f51b5;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.wart-page-content{
    -webkit-box-flex: 1;
    -moz-box-flex:1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    overflow: auto;
    padding: 1em 2em;
    background: #FAFAFA;
}

/*Menu de Navegação*/
.wart-left-navigation,
.wart-left-navigation ul,
.wart-left-navigation ul li,
.wart-left-navigation ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wart-left-navigation {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    box-shadow: 3px 0px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2)
}
.wart-left-navigation ul ul {
    display: none;
}
.wart-left-navigation > ul > li.active > ul {
    display: block;
}
.align-right {
    float: right;
}
.wart-left-navigation > ul > li > a {
    padding: 16px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background: #3f51b5;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
.wart-left-navigation > ul > li > a:hover {
    color: #d8f3f0;
}
.wart-left-navigation ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.wart-left-navigation ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 23px;
    display: block;
    width: 10px;
    height: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.wart-left-navigation ul > li.has-sub.open > a:after,
.wart-left-navigation ul > li.has-sub.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.wart-left-navigation ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    background: #cccccc;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
.wart-left-navigation ul ul ul li a {
    padding-left: 32px;
}
.wart-left-navigation ul ul li a:hover {
    color: #444444;
}
.wart-left-navigation ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #000000;
}
.wart-left-navigation ul ul > li.has-sub > a:before {
    top: 20px;
    background: #000000;
}