<h1>Menus - <?php echo $this -> pCabecalho ?></h1>

<div class="box">

<form method="post" enctype="application/x-www-form-urlencoded">

<p class="box_titulo"><?php echo $this->cabecalho; ?></p>
<table class="tabela-cadastro">
<tr>
    <td>
    	<label for="nmmenu">Nome</label>
        <?php echo $this->form->nmmenu;	?>
    </td>
</tr>
<tr>
    <td class="linha-comandos">
        <?php  echo $this->form->Gravar; 
               echo $this->form->Voltar; ?>
    </td>
</tr>
</table>

</form>

</div>