<h1>Menus</h1>

<table class="tabela-listagem" >
		<tr>
			<th>Nome</th>
			<th width="5%"></th>
            <th width="5%"></th>
		</tr>
<?php
if($this->menu){ 
	foreach($this->menu as $tipo){ ?>
		<tr>
			<td align="left">
				<?php echo $tipo->nmmenu;?>
			</td>
            <td align="center">
                <?php if($this -> LiberaAcesso('/modulos/menu/edit')){ ?>
                    <a href="/modulos/menu/edit/cdmenu/<?php echo $tipo->cdmenu; ?>">
                        <img src="/img/ico_editar.gif" alt="Alterar" title="Alterar" width="25" />
                    </a>
                <?php } ?>
            </td>
            <td align="center">
                <?php if($this -> LiberaAcesso('/modulos/menu/edit')){ ?>
                    <a href="/modulos/menu/delete/cdmenu/<?php echo $tipo->cdmenu; ?>">
                        <img src="/img/ico_excluir.gif" alt="Excluir" title="Excluir" width="25" />
                    </a>
                <?php } ?>
            </td>
		</tr>
<?php }
}else{
	echo $this->NenhumRegistro();
}?>
<tr class="linha-comandos">
	<td colspan="3">
    	<?php if($this -> LiberaAcesso('/modulos/menu/edit')){ ?>
    		<input type="button" onclick="window.location.href='/modulos/menu/add'" value="Incluir" title="Incluir" class="botao-padrao" />
        <?php } ?>
    </td>
</tr>
</table>

