<div class="wart-layout__content">

    <h1 class="logowart">
        <div class="logo">
            <img src="/_img/Logo_Colorido_190x51.png" alt="Logo da WArt.Digital" />
        </div>
    </h1>

    <?php if($this->retorno){ ?>
        <div class="wart-loginErro">
                <?php echo $this->retorno;?>
        </div>
    <? } ?>

    <span class="subtitle">Entre com a sua conta</span>

    <div id="formLogin">
        <form method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal" role="form">
            <?php echo $this->form->login_acesso;?>
            <?php echo $this->form->login_user;?>
            <?php echo $this->form->login_password;?>
            <a href="#" class="wart-link-esqueceusenha">Esqueceu sua senha?</a>

            <?php echo $this->form->submit;?>
        </form>
    </div>

    <div class="newAccount">
        Não possui uma conta?
        <button class="mdl-button mdl-js-button mdl-button--raised wart-button-login mdl-js-ripple-effect mdl-button--accent" id="createAccount">
            Criar Conta
        </button>
    </div>

    <div class="selectLanguage">
    </div>
</div>

<script>
    document.getElementById('login_user').focus();
</script>