<div style="margin:20px">
	<form method="post" enctype="application/x-www-form-urlencoded">
		<table cellpadding="0" cellspacing="0" border="0" class="tabelacadastro">
			<tr>
				<td align="center">
					<?php echo $this->form->texto;?>
				</td>
			</tr>
			<tr>
				<td align="center">
					<?php echo $this->form->submit;?>
				</td>
			</tr>
		</table>
	</form>
</div>
