<div class="box">

<form method="post" enctype="application/x-www-form-urlencoded">
<h1>trocar senha</h1>

<table class="tabelacadastro" cellpadding="3" cellspacing="0" border="0" width="100%">
	<?php if($this->retorno != ''){ ?>
        <tr>
            <td class="error-message">
                <?php echo $this->retorno; ?>
            </td>
        </tr>
    <?php } ?>
	<tr>
		<td>
		<?php echo $this->pForm->nmsenha; ?>
		</td>
	</tr>
	<tr>
		<td>
		<?php echo $this->pForm->novasenha; ?>
		</td>
	</tr>
	<tr>
		<td>
		<?php echo $this->pForm->novasenhaconfirm; ?>
		</td>
	</tr>
	<tr class="linha-comandos">
		<td>
		<?php echo $this->pForm->Trocar; ?>
		<input type="button" class="botao-exclusao" value="Fechar" onclick="self.close()" />
		</td>
	</tr>
</table>

</form>
</div>