<?php $this->jQueryUi = 'jQueryUi'; ?>
<?php $this->headTitle()->append($this->titulo); ?>
<h1><?php echo $this->titulo; ?></h1>

<div class="box box_filtro">

<form method="post" filtro="filtro" action="/default/log/listagem" name="form" enctype="application/x-www-form-urlencoded">

<table class="tabelacadastro" border="0">

<tr>
<td align="left" colspan="2"><?php echo $this->form->info.$this->form->cdpessoa?></td>
</tr>

<tr>
<td align="left" width="50%"><?php echo $this->form->dtinicio; ?> a</td>
<td width="45%"><?php echo $this->form->dtfim; ?></td>
</tr>

<tr>
<td align="left" colspan="2"><?php echo $this->form->info.$this->form->nmmodule?></td>
</tr>

<tr>
<td align="left" colspan="2"><?php echo $this->form->info.$this->form->nmcontroller?></td>
</tr>

<tr>
<td align="left" colspan="2"><?php echo $this->form->info.$this->form->nmaction?></td>
</tr>

<tr>
<td align="right" colspan="2">
<div style="float:right; padding-right:15px;">
	<?php  echo $this->form->Buscar; ?>
</div>
</td>
</tr>

</table>

</form>

</div>
