<?php $this->headTitle()->append($this->titulo)?>
<h1><?php echo $this->titulo.$this->SeparadorTitulo().$this->subtitulo; ?></h1>

<div class="box">

<form method="post" enctype="application/x-www-form-urlencoded">

<p class="box_titulo"><?php echo $this->cabecalho; ?></p>
<table class="tabelacadastro" cellspacing="0" cellpadding="10" border="0">
			<tr>
			<td align="left">
			<?php $cd = '1'; 
		  	$acesso = 'cdperfil'.$cd;
		    while(!empty($this->form->$acesso)){
			  echo $this->form->$acesso;
			  $cd++;
			  $acesso = 'cdperfil'.$cd;
		    }
		  ?>
		  </td>
		  </tr>
		  <tr>
		  <td class="linhacomando" align="right">
		  	<?php 
		  	echo $this->form->Gravar;
		  	echo $this->form->Voltar;
		  	?>
		  </td>
		  </tr>	
	</table>
</form>

</div>