<?php $this->headTitle()->append($this->titulo)?>
<br>
<span style="text-align:right;"><?php echo $this->titulo." - ".$this->subtitulo; ?></span>
	<div style="text-align:center;">
	<table class="tabelapadrao">
	
	</table>
	</div>