<p>&lt;?php<br>
  /**<br>
  * Zend Framework<br>
  *<br>
  * LICENSE<br>
  *<br>
  * This source file is subject to the new BSD license that is bundled<br>
  * with this package in the file LICENSE.txt.<br>
  * It is also available through the world-wide-web at this URL:<br>
  * http://framework.zend.com/license/new-bsd<br>
  * If you did not receive a copy of the license and are unable to<br>
  * obtain it through the world-wide-web, please send an email<br>
  * to license@zend.com so we can send you a copy immediately.<br>
  *<br>
  * @category   Zend<br>
  * @package    Zend_Translate<br>
  * @subpackage Ressource<br>
  * @copyright  Copyright (c) 2005-2011 Zend Technologies USA Inc. (http://www.zend.com)<br>
  * @license    http://framework.zend.com/license/new-bsd     New BSD License<br>
  * @version    $Id:$<br>
  */</p>
<p>/**<br>
  * EN-Revision: 22075<br>
  */<br>
  return array(<br>
  // Zend_Validate_Alnum<br>
  &quot;Invalid type given, value should be float, string, or integer&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser float, string, ou inteiro&quot;,<br>
  &quot;'%value%' contains characters which are non alphabetic and no digits&quot; =&gt; &quot;'%value%' cont&eacute;m caracteres que n&atilde;o s&atilde;o alfab&eacute;ticos e nem d&iacute;gitos&quot;,<br>
  &quot;'%value%' is an empty string&quot; =&gt; &quot;'%value%' &eacute; uma string vazia&quot;,</p>
<p> // Zend_Validate_Alpha<br>
  &quot;Invalid type given, value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,<br>
  &quot;'%value%' contains non alphabetic characters&quot; =&gt; &quot;'%value%' cont&eacute;m caracteres n&atilde;o alfab&eacute;ticos&quot;,<br>
  &quot;'%value%' is an empty string&quot; =&gt; &quot;'%value%' &eacute; uma string vazia&quot;,</p>
<p> // Zend_Validate_Barcode<br>
  &quot;'%value%' failed checksum validation&quot; =&gt; &quot;'%value%' falhou na valida&ccedil;&atilde;o do checksum&quot;,<br>
  &quot;'%value%' contains invalid characters&quot; =&gt; &quot;'%value%' cont&eacute;m caracteres inv&aacute;lidos&quot;,<br>
  &quot;'%value%' should have a length of %length% characters&quot; =&gt; &quot;'%value%' tem um comprimento de %length% caracteres&quot;,<br>
  &quot;Invalid type given, value should be string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser string&quot;,</p>
<p> // Zend_Validate_Between<br>
  &quot;'%value%' is not between '%min%' and '%max%', inclusively&quot; =&gt; &quot;'%value%' n&atilde;o est&aacute; entre '%min%' e '%max%', inclusivamente&quot;,<br>
  &quot;'%value%' is not strictly between '%min%' and '%max%'&quot; =&gt; &quot;'%value%' n&atilde;o est&aacute; exatamente entre '%min%' e '%max%'&quot;,</p>
<p> // Zend_Validate_Callback<br>
  &quot;'%value%' is not valid&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; v&aacute;lido&quot;,<br>
  &quot;Failure within the callback, exception returned&quot; =&gt; &quot;Falha na chamada de retorno, exce&ccedil;&atilde;o retornada&quot;,</p>
<p> // Zend_Validate_Ccnum<br>
  &quot;'%value%' must contain between 13 and 19 digits&quot; =&gt; &quot;'%value%' deve conter entre 13 e 19 d&iacute;gitos&quot;,<br>
  &quot;Luhn algorithm (mod-10 checksum) failed on '%value%'&quot; =&gt; &quot;O algoritmo de Luhn (checksum de m&oacute;dulo 10) falhou em '%value%'&quot;,</p>
<p> // Zend_Validate_CreditCard<br>
  &quot;Luhn algorithm (mod-10 checksum) failed on '%value%'&quot; =&gt; &quot;O algoritmo de Luhn (checksum de m&oacute;dulo 10) falhou em '%value%'&quot;,<br>
  &quot;'%value%' must contain only digits&quot; =&gt; &quot;'%value%' deve conter apenas d&iacute;gitos&quot;,<br>
  &quot;Invalid type given, value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,<br>
  &quot;'%value%' contains an invalid amount of digits&quot; =&gt; &quot;'%value%' cont&eacute;m uma quantidade inv&aacute;lida de d&iacute;gitos&quot;,<br>
  &quot;'%value%' is not from an allowed institute&quot; =&gt; &quot;'%value%' n&atilde;o vem de uma institui&ccedil;&atilde;o autorizada&quot;,<br>
  &quot;Validation of '%value%' has been failed by the service&quot; =&gt; &quot;A valida&ccedil;&atilde;o de '%value%' falhou por causa do servi&ccedil;o&quot;,<br>
  &quot;The service returned a failure while validating '%value%'&quot; =&gt; &quot;O servi&ccedil;o devolveu um erro enquanto validava '%value%'&quot;,</p>
<p> // Zend_Validate_Date<br>
  &quot;Invalid type given, value should be string, integer, array or Zend_Date&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser string, inteiro, matriz ou Zend_Date&quot;,<br>
  &quot;'%value%' does not appear to be a valid date&quot; =&gt; &quot;'%value%' n&atilde;o parece ser uma data v&aacute;lida&quot;,<br>
  &quot;'%value%' does not fit the date format '%format%'&quot; =&gt; &quot;'%value%' n&atilde;o se encaixa no formato de data '%format%'&quot;,</p>
<p> // Zend_Validate_Db_Abstract<br>
  &quot;No record matching %value% was found&quot; =&gt; &quot;N&atilde;o foram encontrados registros para %value%&quot;,<br>
  &quot;A record matching %value% was found&quot; =&gt; &quot;Um registro foi encontrado para %value%&quot;,</p>
<p> // Zend_Validate_Digits<br>
  &quot;Invalid type given, value should be string, integer or float&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser string, inteiro ou float&quot;,<br>
  &quot;'%value%' contains characters which are not digits; but only digits are allowed&quot; =&gt; &quot;'%value%' cont&eacute;m caracteres que n&atilde;o s&atilde;o d&iacute;gitos, mas apenas d&iacute;gitos s&atilde;o permitidos&quot;,<br>
  &quot;'%value%' is an empty string&quot; =&gt; &quot;'%value%' &eacute; uma string vazia&quot;,</p>
<p> // Zend_Validate_EmailAddress<br>
  &quot;Invalid type given, value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,<br>
  &quot;'%value%' is no valid email address in the basic format local-part@hostname&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; um endere&ccedil;o de e-mail v&aacute;lido no formato local-part@hostname&quot;,<br>
  &quot;'%hostname%' is no valid hostname for email address '%value%'&quot; =&gt; &quot;'%hostname%' n&atilde;o &eacute; um nome de host v&aacute;lido para o endere&ccedil;o de e-mail '%value%'&quot;,<br>
  &quot;'%hostname%' does not appear to have a valid MX record for the email address '%value%'&quot; =&gt; &quot;'%hostname%' n&atilde;o parece ter um registro MX v&aacute;lido para o endere&ccedil;o de e-mail '%value%'&quot;,<br>
  &quot;'%hostname%' is not in a routable network segment. The email address '%value%' should not be resolved from public network.&quot; =&gt; &quot;'%hostname%' n&atilde;o &eacute; um segmento de rede rote&aacute;vel. O endere&ccedil;o de e-mail '%value%' n&atilde;o deve ser resolvido a partir de um rede p&uacute;blica.&quot;,<br>
  &quot;'%localPart%' can not be matched against dot-atom format&quot; =&gt; &quot;'%localPart%' n&atilde;o corresponde com o formato dot-atom&quot;,<br>
  &quot;'%localPart%' can not be matched against quoted-string format&quot; =&gt; &quot;'%localPart%' n&atilde;o corresponde com o formato quoted-string&quot;,<br>
  &quot;'%localPart%' is no valid local part for email address '%value%'&quot; =&gt; &quot;'%localPart%' n&atilde;o &eacute; uma parte local v&aacute;lida para o endere&ccedil;o de e-mail '%value%'&quot;,<br>
  &quot;'%value%' exceeds the allowed length&quot; =&gt; &quot;'%value%' excede o comprimento permitido&quot;,</p>
<p> // Zend_Validate_File_Count<br>
  &quot;Too many files, maximum '%max%' are allowed but '%count%' are given&quot; =&gt; &quot;H&aacute; muitos arquivos, s&atilde;o permitidos no m&aacute;ximo '%max%', mas '%count%' foram fornecidos&quot;,<br>
  &quot;Too few files, minimum '%min%' are expected but '%count%' are given&quot; =&gt; &quot;H&aacute; poucos arquivos, s&atilde;o esperados no m&iacute;nimo '%min%', mas '%count%' foram fornecidos&quot;,</p>
<p> // Zend_Validate_File_Crc32<br>
  &quot;File '%value%' does not match the given crc32 hashes&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o corresponde ao hash crc32 fornecido&quot;,<br>
  &quot;A crc32 hash could not be evaluated for the given file&quot; =&gt; &quot;N&atilde;o foi poss&iacute;vel avaliar um hash crc32 para o arquivo fornecido&quot;,<br>
  &quot;File '%value%' could not be found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser encontrado&quot;,</p>
<p> // Zend_Validate_File_ExcludeExtension<br>
  &quot;File '%value%' has a false extension&quot; =&gt; &quot;O arquivo '%value%' possui a extens&atilde;o incorreta&quot;,<br>
  &quot;File '%value%' could not be found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser encontrado&quot;,</p>
<p> // Zend_Validate_File_ExcludeMimeType<br>
  &quot;File '%value%' has a false mimetype of '%type%'&quot; =&gt; &quot;O arquivo '%value%' tem o mimetype incorreto: '%type%'&quot;,<br>
  &quot;The mimetype of file '%value%' could not be detected&quot; =&gt; &quot;O mimetype do arquivo '%value%' n&atilde;o p&ocirc;de ser detectado&quot;,<br>
  &quot;File '%value%' can not be read&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser lido&quot;,</p>
<p> // Zend_Validate_File_Exists<br>
  &quot;File '%value%' does not exist&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o existe&quot;,</p>
<p> // Zend_Validate_File_Extension<br>
  &quot;File '%value%' has a false extension&quot; =&gt; &quot;O arquivo '%value%' possui a extens&atilde;o incorreta&quot;,<br>
  &quot;File '%value%' could not be found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser encontrado&quot;,</p>
<p> // Zend_Validate_File_FilesSize<br>
  &quot;All files in sum should have a maximum size of '%max%' but '%size%' were detected&quot; =&gt; &quot;Todos os arquivos devem ter um tamanho m&aacute;ximo de '%max%', mas um tamanho de '%size%' foi detectado&quot;,<br>
  &quot;All files in sum should have a minimum size of '%min%' but '%size%' were detected&quot; =&gt; &quot;Todos os arquivos devem ter um tamanho m&iacute;nimo de '%min%', mas um tamanho de '%size%' foi detectado&quot;,<br>
  &quot;One or more files can not be read&quot; =&gt; &quot;Um ou mais arquivos n&atilde;o puderam ser lidos&quot;,</p>
<p> // Zend_Validate_File_Hash<br>
  &quot;File '%value%' does not match the given hashes&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o corresponde ao hash fornecido&quot;,<br>
  &quot;A hash could not be evaluated for the given file&quot; =&gt; &quot;N&atilde;o foi poss&iacute;vel avaliar um hash para o arquivo fornecido&quot;,<br>
  &quot;File '%value%' could not be found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser encontrado&quot;,</p>
<p> // Zend_Validate_File_ImageSize<br>
  &quot;Maximum allowed width for image '%value%' should be '%maxwidth%' but '%width%' detected&quot; =&gt; &quot;A largura m&aacute;xima permitida para a imagem '%value%' deve ser '%maxwidth%', mas '%width%' foi detectada&quot;,<br>
  &quot;Minimum expected width for image '%value%' should be '%minwidth%' but '%width%' detected&quot; =&gt; &quot;A largura m&iacute;nima esperada para a imagem '%value%' deve ser '%minwidth%', mas '%width%' foi detectada&quot;,<br>
  &quot;Maximum allowed height for image '%value%' should be '%maxheight%' but '%height%' detected&quot; =&gt; &quot;A altura m&aacute;xima permitida para a imagem '%value%' deve ser '%maxheight%', mas '%height%' foi detectada&quot;,<br>
  &quot;Minimum expected height for image '%value%' should be '%minheight%' but '%height%' detected&quot; =&gt; &quot;A altura m&iacute;nima esperada para a imagem '%value%' deve ser '%minheight%', mas '%height%' foi detectada&quot;,<br>
  &quot;The size of image '%value%' could not be detected&quot; =&gt; &quot;O tamanho da imagem '%value%' n&atilde;o p&ocirc;de ser detectado&quot;,<br>
  &quot;File '%value%' can not be read&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser lido&quot;,</p>
<p> // Zend_Validate_File_IsCompressed<br>
  &quot;File '%value%' is not compressed, '%type%' detected&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o est&aacute; compactado: '%type%' detectado&quot;,<br>
  &quot;The mimetype of file '%value%' could not be detected&quot; =&gt; &quot;O mimetype do arquivo '%value%' n&atilde;o p&ocirc;de ser detectado&quot;,<br>
  &quot;File '%value%' can not be read&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser lido&quot;,</p>
<p> // Zend_Validate_File_IsImage<br>
  &quot;File '%value%' is no image, '%type%' detected&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o &eacute; uma imagem: '%type%' detectado&quot;,<br>
  &quot;The mimetype of file '%value%' could not be detected&quot; =&gt; &quot;O mimetype do arquivo '%value%' n&atilde;o p&ocirc;de ser detectado&quot;,<br>
  &quot;File '%value%' can not be read&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser lido&quot;,</p>
<p> // Zend_Validate_File_Md5<br>
  &quot;File '%value%' does not match the given md5 hashes&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o corresponde ao hash md5 fornecido&quot;,<br>
  &quot;A md5 hash could not be evaluated for the given file&quot; =&gt; &quot;N&atilde;o foi poss&iacute;vel avaliar um hash md5 para o arquivo fornecido&quot;,<br>
  &quot;File '%value%' could not be found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser encontrado&quot;,</p>
<p> // Zend_Validate_File_MimeType<br>
  &quot;File '%value%' has a false mimetype of '%type%'&quot; =&gt; &quot;O arquivo '%value%' tem o mimetype incorreto: '%type%'&quot;,<br>
  &quot;The mimetype of file '%value%' could not be detected&quot; =&gt; &quot;O mimetype do arquivo '%value%' n&atilde;o p&ocirc;de ser detectado&quot;,<br>
  &quot;File '%value%' can not be read&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser lido&quot;,</p>
<p> // Zend_Validate_File_NotExists<br>
  &quot;File '%value%' exists&quot; =&gt; &quot;O arquivo '%value%' existe&quot;,</p>
<p> // Zend_Validate_File_Sha1<br>
  &quot;File '%value%' does not match the given sha1 hashes&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o corresponde ao hash sha1 fornecido&quot;,<br>
  &quot;A sha1 hash could not be evaluated for the given file&quot; =&gt; &quot;N&atilde;o foi poss&iacute;vel avaliar um hash sha1 para o arquivo fornecido&quot;,<br>
  &quot;File '%value%' could not be found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser encontrado&quot;,</p>
<p> // Zend_Validate_File_Size<br>
  &quot;Maximum allowed size for file '%value%' is '%max%' but '%size%' detected&quot; =&gt; &quot;O tamanho m&aacute;ximo permitido para o arquivo '%value%' &eacute; '%max%', mas '%size%' foram detectados&quot;,<br>
  &quot;Minimum expected size for file '%value%' is '%min%' but '%size%' detected&quot; =&gt; &quot;O tamanho m&iacute;nimo esperado para o arquivo '%value%' &eacute; '%min%', mas '%size%' foram detectados&quot;,<br>
  &quot;File '%value%' could not be found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser encontrado&quot;,</p>
<p> // Zend_Validate_File_Upload<br>
  &quot;File '%value%' exceeds the defined ini size&quot; =&gt; &quot;O arquivo '%value%' excede o tamanho definido na configura&ccedil;&atilde;o&quot;,<br>
  &quot;File '%value%' exceeds the defined form size&quot; =&gt; &quot;O arquivo '%value%' excede o tamanho definido do formul&aacute;rio&quot;,<br>
  &quot;File '%value%' was only partially uploaded&quot; =&gt; &quot;O arquivo '%value%' foi apenas parcialmente enviado&quot;,<br>
  &quot;File '%value%' was not uploaded&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o foi enviado&quot;,<br>
  &quot;No temporary directory was found for file '%value%'&quot; =&gt; &quot;Nenhum diret&oacute;rio tempor&aacute;rio foi encontrado para o arquivo '%value%'&quot;,<br>
  &quot;File '%value%' can't be written&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser escrito&quot;,<br>
  &quot;A PHP extension returned an error while uploading the file '%value%'&quot; =&gt; &quot;Uma extens&atilde;o do PHP retornou um erro enquanto o arquivo '%value%' era enviado&quot;,<br>
  &quot;File '%value%' was illegally uploaded. This could be a possible attack&quot; =&gt; &quot;O arquivo '%value%' foi enviado ilegalmente. Este poderia ser um poss&iacute;vel ataque&quot;,<br>
  &quot;File '%value%' was not found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o foi encontrado&quot;,<br>
  &quot;Unknown error while uploading file '%value%'&quot; =&gt; &quot;Erro desconhecido ao enviar o arquivo '%value%'&quot;,</p>
<p> // Zend_Validate_File_WordCount<br>
  &quot;Too much words, maximum '%max%' are allowed but '%count%' were counted&quot; =&gt; &quot;H&aacute; muitas palavras, s&atilde;o permitidas no m&aacute;ximo '%max%', mas '%count%' foram contadas&quot;,<br>
  &quot;Too less words, minimum '%min%' are expected but '%count%' were counted&quot; =&gt; &quot;H&aacute; poucas palavras, s&atilde;o esperadas no m&iacute;nimo '%min%', mas '%count%' foram contadas&quot;,<br>
  &quot;File '%value%' could not be found&quot; =&gt; &quot;O arquivo '%value%' n&atilde;o p&ocirc;de ser encontrado&quot;,</p>
<p> // Zend_Validate_Float<br>
  &quot;Invalid type given, value should be float, string, or integer&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser float, string, ou inteiro&quot;,<br>
  &quot;'%value%' does not appear to be a float&quot; =&gt; &quot;'%value%' n&atilde;o parece ser um float&quot;,</p>
<p> // Zend_Validate_GreaterThan<br>
  &quot;'%value%' is not greater than '%min%'&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; maior que '%min%'&quot;,</p>
<p> // Zend_Validate_Hex<br>
  &quot;Invalid type given, value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,<br>
  &quot;'%value%' has not only hexadecimal digit characters&quot; =&gt; &quot;'%value%' n&atilde;o cont&eacute;m somente caracteres hexadecimais&quot;,</p>
<p> // Zend_Validate_Hostname<br>
  &quot;Invalid type given, value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,<br>
  &quot;'%value%' appears to be an IP address, but IP addresses are not allowed&quot; =&gt; &quot;'%value%' parece ser um endere&ccedil;o de IP, mas endere&ccedil;os de IP n&atilde;o s&atilde;o permitidos&quot;,<br>
  &quot;'%value%' appears to be a DNS hostname but cannot match TLD against known list&quot; =&gt; &quot;'%value%' parece ser um hostname de DNS, mas o TLD n&atilde;o corresponde a nenhum TLD conhecido&quot;,<br>
  &quot;'%value%' appears to be a DNS hostname but contains a dash in an invalid position&quot; =&gt; &quot;'%value%' parece ser um hostname de DNS, mas cont&eacute;m um tra&ccedil;o em uma posi&ccedil;&atilde;o inv&aacute;lida&quot;,<br>
  &quot;'%value%' appears to be a DNS hostname but cannot match against hostname schema for TLD '%tld%'&quot; =&gt; &quot;'%value%' parece ser um hostname de DNS, mas n&atilde;o corresponde ao esquema de hostname para o TLD '%tld%'&quot;,<br>
  &quot;'%value%' appears to be a DNS hostname but cannot extract TLD part&quot; =&gt; &quot;'%value%' parece ser um hostname de DNS, mas o TLD n&atilde;o p&ocirc;de ser extra&iacute;do&quot;,<br>
  &quot;'%value%' does not match the expected structure for a DNS hostname&quot; =&gt; &quot;'%value%' n&atilde;o corresponde com a estrutura esperada para um hostname de DNS&quot;,<br>
  &quot;'%value%' does not appear to be a valid local network name&quot; =&gt; &quot;'%value%' n&atilde;o parece ser um nome de rede local v&aacute;lido&quot;,<br>
  &quot;'%value%' appears to be a local network name but local network names are not allowed&quot; =&gt; &quot;'%value%' parece ser um nome de rede local, mas os nomes de rede local n&atilde;o s&atilde;o permitidos&quot;,<br>
  &quot;'%value%' appears to be a DNS hostname but the given punycode notation cannot be decoded&quot; =&gt; &quot;'%value%' parece ser um hostname de DNS, mas a nota&ccedil;&atilde;o punycode fornecida n&atilde;o pode ser decodificada&quot;,</p>
<p> // Zend_Validate_Iban<br>
  &quot;Unknown country within the IBAN '%value%'&quot; =&gt; &quot;Pa&iacute;s desconhecido para o IBAN '%value%'&quot;,<br>
  &quot;'%value%' has a false IBAN format&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; um formato IBAN v&aacute;lido&quot;,<br>
  &quot;'%value%' has failed the IBAN check&quot; =&gt; &quot;'%value%' falhou na verifica&ccedil;&atilde;o do IBAN&quot;,</p>
<p> // Zend_Validate_Identical<br>
  &quot;The two given tokens do not match&quot; =&gt; &quot;Os dois tokens fornecidos n&atilde;o combinam&quot;,<br>
  &quot;No token was provided to match against&quot; =&gt; &quot;Nenhum token foi fornecido para a compara&ccedil;&atilde;o&quot;,</p>
<p> // Zend_Validate_InArray<br>
  &quot;'%value%' was not found in the haystack&quot; =&gt; &quot;'%value%' n&atilde;o faz parte dos valores esperados&quot;,</p>
<p> // Zend_Validate_Int<br>
  &quot;Invalid type given, value should be string or integer&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser string ou inteiro&quot;,<br>
  &quot;'%value%' does not appear to be an integer&quot; =&gt; &quot;'%value%' n&atilde;o parece ser um n&uacute;mero inteiro&quot;,</p>
<p> // Zend_Validate_Ip<br>
  &quot;Invalid type given, value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,<br>
  &quot;'%value%' does not appear to be a valid IP address&quot; =&gt; &quot;'%value%' n&atilde;o parece ser um endere&ccedil;o de IP v&aacute;lido&quot;,</p>
<p> // Zend_Validate_Isbn<br>
  &quot;Invalid type given, value should be string or integer&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser string ou inteiro&quot;,<br>
  &quot;'%value%' is no valid ISBN number&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; um n&uacute;mero ISBN v&aacute;lido&quot;,</p>
<p> // Zend_Validate_LessThan<br>
  &quot;'%value%' is not less than '%max%'&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; menor que '%max%'&quot;,</p>
<p> // Zend_Validate_NotEmpty<br>
  &quot;Invalid type given, value should be float, string, array, boolean or integer&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser float, string, matriz, booleano ou inteiro&quot;,<br>
  &quot;Value is required and can't be empty&quot; =&gt; &quot;O valor &eacute; obrigat&oacute;rio e n&atilde;o pode estar vazio&quot;,</p>
<p> // Zend_Validate_PostCode<br>
  &quot;Invalid type given. The value should be a string or a integer&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido. O valor deve ser uma string ou um inteiro&quot;,<br>
  &quot;'%value%' does not appear to be a postal code&quot; =&gt; &quot;'%value%' n&atilde;o parece ser um c&oacute;digo postal&quot;,</p>
<p> // Zend_Validate_Regex<br>
  &quot;Invalid type given, value should be string, integer or float&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser string, inteiro ou float&quot;,<br>
  &quot;'%value%' does not match against pattern '%pattern%'&quot; =&gt; &quot;'%value%' n&atilde;o corresponde ao padr&atilde;o '%pattern%'&quot;,<br>
  &quot;There was an internal error while using the pattern '%pattern%'&quot; =&gt; &quot;Houve um erro interno durante o uso do padr&atilde;o '%pattern%'&quot;,</p>
<p> // Zend_Validate_Sitemap_Changefreq<br>
  &quot;'%value%' is no valid sitemap changefreq&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; um changefreq de sitemap v&aacute;lido&quot;,<br>
  &quot;Invalid type given, the value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,</p>
<p> // Zend_Validate_Sitemap_Lastmod<br>
  &quot;'%value%' is no valid sitemap lastmod&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; um lastmod de sitemap v&aacute;lido&quot;,<br>
  &quot;Invalid type given, the value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,</p>
<p> // Zend_Validate_Sitemap_Loc<br>
  &quot;'%value%' is no valid sitemap location&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; uma localiza&ccedil;&atilde;o de sitemap v&aacute;lida&quot;,<br>
  &quot;Invalid type given, the value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,</p>
<p> // Zend_Validate_Sitemap_Priority<br>
  &quot;'%value%' is no valid sitemap priority&quot; =&gt; &quot;'%value%' n&atilde;o &eacute; uma prioridade de sitemap v&aacute;lida&quot;,<br>
  &quot;Invalid type given, the value should be a integer, a float or a numeric string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser um inteiro, um float ou uma string num&eacute;rica&quot;,</p>
<p> // Zend_Validate_StringLength<br>
  &quot;Invalid type given, value should be a string&quot; =&gt; &quot;O tipo especificado &eacute; inv&aacute;lido, o valor deve ser uma string&quot;,<br>
  &quot;'%value%' is less than %min% characters long&quot; =&gt; &quot;O tamanho de '%value%' &eacute; inferior a %min% caracteres&quot;,<br>
  &quot;'%value%' is more than %max% characters long&quot; =&gt; &quot;O tamanho de '%value%' &eacute; superior a %max% caracteres&quot;,<br>
  );<br>
</p>
