<?php $this->enableCKEditor = true; ?>
<h1><?php echo $this->titulo; ?></h1>

<div class="box">
<p class="box_titulo"><?php echo $this->cabecalho?></p>	
<form method="post" enctype="application/x-www-form-urlencoded">
<table cellpadding="0" cellspacing="0" border="0" class="tabela-cadastro">
	<tr>
    	<td>
			<?php echo $this->pForm->nmparametro;?>
		</td>
    </tr>
	<tr>
    	<td>
			<?php echo $this->pForm->vlparametro; ?>
		</td>
    </tr>
	<tr>
    	<td>
			<?php echo $this->pForm->fgativo; ?>
		</td>
    </tr>
	<tr>
    	<td class="linha-comandos" align="right">
			<?php echo $this->pForm->Gravar; 
                  echo $this->pForm->Voltar; ?>
		</td>
	</tr>
</table>
</form>
</div>
<script type="text/javascript">
CKEDITOR.replace( 'vlparametro', {
    customConfig: '/ckeditor/custom_config.js'
});
</script>
