<h1>Parāmetros</h1>

<table class="tabela-listagem">
    <tr>
        <th>Parāmetro</th>
        <th>Valor</th>
        <th width="10%">Ativo</th>
        <th width="5%"></th>
        <th width="5%"></th>
    </tr>
    <?php
    if($this->pListaParametro){
        foreach($this->pListaParametro as $lKey => $lParametro){?>
        <tr>
            <td align="left">
                <?php echo $lParametro['nmparametro'];?>
            </td>
            <td align="left">
                <?php echo substr($lParametro['vlparametro'],0,30);?>
            </td>
            <td align="center">
                <?php echo $this->ativo($lParametro['fgativo']);?>
            </td>
            <td align="center">
                <?php if($this -> LiberaAcesso('/parametros/parametros/edit')){ ?>
                    <a href="/parametros/parametros/edit/cdparametro/<?php echo $lParametro['cdparametro']; ?>">
                        <img src="/img/ico_editar.gif" alt="Editar" title="Editar" width="25" />
                    </a>
                <?php } ?>
            </td>
            <td align="center">
                <?php if($this -> LiberaAcesso('/parametros/parametros/delete')){ ?>
                    <a href="/parametros/parametros/edit/cdparametro/<?php echo $lParametro['cdparametro']; ?>" class="delete-link">
                        <img src="/img/ico_excluir.gif" alt="Editar" title="Editar" width="25" />
                    </a>
                <?php } ?>
            </td>
        </tr>	
<?php 	}
    }else{
        echo $this->NenhumRegistro();
    }?>
</table>
