<h1>Perfis - <?php echo $this->cabecalho; ?></h1>

<div class="box">

<form method="post" enctype="application/x-www-form-urlencoded">

<table class="tabela-cadastro">
    <tr>
        <td colspan="2">
        	<label for="nmperfil">Nome</label>
            <?php echo $this->formulario->nmperfil; ?>
        </td>
    </tr>
    <tr>
        <td width="50%">
        	<label for="cdacesso">Acesso</label>
            <?php echo $this->formulario->cdacesso; ?>
        </td>
        <td width="50%">
        	<label for="fgativo">Ativo</label>
            <?php echo $this->formulario->fgativo; ?>
        </td>
    </tr>
    <tr>
        <td class="linha-comandos" colspan="2">
            <?php  echo $this->formulario->Gravar; 
                   echo $this->formulario->Voltar;
            ?>
        </td>
    </tr>
</table>

</form>

</div>