<h1>Perfis</h1>

<table class="tabela-listagem">
	<tr>
		<th>Nome</th>
		<th width="10%">Ativo</th>
		<th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
	</tr>
<?php 
if($this->perfil){
	foreach($this->perfil as $lKey => $lPerfil){ ?>
	<tr>
		<td align="left">
			<?php echo $lPerfil['nmperfil']; ?>
		</td>
		<td align="center">
			<?php echo $this->ativo($lPerfil['fgativo']);?>
        </td>
        <td align="center">
            <?php if($this -> LiberaAcesso('/perfil/perfil/edit')){ ?>
                <a href="/perfil/perfil/edit/cd/<?php echo $lPerfil['cdperfil']; ?>">
                    <img src="/img/ico_editar.gif" alt="Alterar" title="Alterar" width="25" />
                </a>
            <?php } ?>
        </td>
        <td align="center">
            <?php if($this -> LiberaAcesso('/perfil/perfilmodulo/index')){ ?>
                <a href="/perfil/perfil-modulo/index/cdperf/<?php echo $lPerfil['cdperfil']; ?>">
                    <img src="/img/ico_editar.gif" alt="Módulos" title="Módulos" width="25" />
                </a>
            <?php } ?>
        </td>
        <td align="center">
            <?php if($this -> LiberaAcesso('/perfil/perfil/delete')){ ?>
                <a href="/perfil/perfil/delete/cd/<?php echo $lPerfil['cdperfil']; ?>" class="delete-link">
                    <img src="/img/ico_excluir.gif" alt="Excluir" title="Excluir" width="25" />
                </a>
            <?php } ?>
        </td>
	</tr>
	<?php }
	}else{
		echo $this->NenhumRegistro();
	} ?>
    <tr class="linha-comandos">
        <td colspan="5">
            <?php if($this -> LiberaAcesso('/perfil/perfil/add')){ ?>
            	<input type="button" onclick="window.location.href='/perfil/perfil/add'" value="Incluir" title="Incluir" class="botao-padrao" />
            <?php } ?>
        </td>
    </tr>
</table>