<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>CarSis - Sistema de Reparos Automotivos</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css">
<script type="text/javascript" src="/js/scripts.js"></script>
<link href="http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700" rel="stylesheet" type="text/css">

</head>
<body>

<div>
	<?php echo $this->layout()-> content; ?>
</div>

</body>
</html>
