<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="WArt.Digital">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Standard Favicon 16x16 -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- For iPhone 4 Retina display: 114x114 -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
    <!-- For iPad: 72x72 -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
    <!-- For iPhone: 57x57 -->
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57-precomposed.png">

    <title>WArt.Digital - Login</title>

    <!-- Arquivos de Estilo -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <link rel="stylesheet" href="/_css/login.css" type="text/css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content" id="particles-js">
            <?php echo $this->layout()-> content; ?>

            <div class="mdl-layout-spacer"></div>
        </main>
    </div>

    <script src="/_lib/particles.js-master/particles.js"></script>
    <script>
        particlesJS.load('particles-js', '/_lib/particles.js-master/particlesjs-config.json', function() {
            console.log('callback - particles.js config loaded');
        });
    </script>
</body>